a.follow-link-imdb {
  background-image: url(/sites/all/modules/follow_plus/icons/small/icon-imdb.png);
  background-size: 24px;
}

a.follow-link-drupal {
  background-image: url(/sites/all/modules/follow_plus/icons/small/icon-drupal.jpg);
  background-size: 24px;
}
